@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

.list-group-item {
    line-height: 2.5;
  }
  .jumbotron {
    background-color: lightgrey;
    width: 80%;
    margin: auto;
    font-family: kanit;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 120px;
    }

#padlock {
    height: 70px;
    width: 70px;
    overflow: hidden;
}

body {
    color: white;
    font-family: kanit;
    background-image: url(../images/background1.jpeg);
}

.form-group {
    width: 550px;
}